.cover__title {
  position: relative;
  color: #FFF;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; 
  letter-spacing: 30px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}