.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  width: 430px;
  height: 450px;
  color: white;
  background: no-repeat center/contain;
}








